/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */


 a.home_links, a.home_links:hover, a.home_links:focus, a.home_links:visited, a.home_links:active {
    text-decoration: none;
    color: #858C92 !important;
    text-align: center;
    display: inline-block;
    background-color: #54595D !important;
    font-family: serif;
}

img.image-circle:hover{
    color: #7B8389 !important;
    background-color: #7B8389 !important;
}

a.home_links:hover{
    text-decoration: none;
    color: #CCCFD1 !important;
    text-align: center;
    display: inline-block;
    background-color: #7B8389 !important;
    font-family: serif;
}

.navbar{
    background-color: #54595D;
}

label.white{
    color: #CCCFD1;
    font-family: serif;
}

ul.white{
    color: white;
    text-decoration: none;
}

#tabela_fofa {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

#tabela_fofa td, #tabela_fofa th {
    border: 1px solid #ddd;
    padding: 8px;
}

#tabela_fofa tr:nth-child(even){background-color: #f2f2f2;}

#tabela_fofa tr:hover {background-color: #ddd;}

#tabela_fofa th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #4CAF50;
    color: white;
}
