<p>Olá <%= @resource.email %>!</p>

<p>Foi requisitado a mudança de senha para a sua conta. Você pode fazer isto através do link abaixo.</p>

<p><%= link_to 'Trocar minha senha', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>Se você não requisitou a troca de senha, favor ignorar este e-mail.</p>
<p>Sua senha não será alterada até você acessar o link acima e criar uma nova senha.</p>
